.productOption {
  display: flex; 
  justify-content: center;
  min-width: 100%;
  margin-bottom: 10px;
}
.optionButton {
  font-size: 90%;
  font-weight: 700;
  background-color: rgba(255, 255, 255, 0);
  border-style: none;
  color: white;
}
.optionButton:hover {
  color: rgb(0, 0, 0); 
  background-color: rgba(255, 255, 255, 0.7);
}
.optionButton:active {
  color: rgb(0, 0, 0); 
  background-color: rgba(255, 255, 255, 0.7);
}

@media screen and (max-width: 425px) {
  .optionButton {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80%;
    font-weight: 900;
    min-width: 15vw;
    min-height: 4vh;
  }
}