.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3% 0;
  /* width: 45vw; */
}
.imageLink {
  /* outline: 1px solid black; */
  width: 40vw;
  /* margin: 3% 0; */
}
.product img {
  width: 100%;
  height: auto;
  padding: 3px;
}
.productTitle {
  display: flex;
  justify-content: center;
  font-weight: 800;
  margin-top: 1%;
  margin-bottom: 3%;
}

@media (pointer:coarse) {
  .product {
    flex: 0 1 98%;
  }
}

@media screen and (max-width: 992px) {
  .imageLink {
    width: 50vw;
  }
}

@media screen and (max-width: 800px) {
  .imageLink {
    width: 60vw;
  }
}

@media screen and (max-width: 660px ) {
  .imageLink {
    width: 70vw;
  }
}

@media screen and (max-width: 425px) {
  .productTitle {
    font-size: 90%;
  }
}