.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 0.3rem;
}
.product img {
  width: 50%;
  height: 100%;
}
.productTitle {
  display: flex;
  justify-content: center;
  font-weight: 800;
  width: 50%;
  margin-top: 1rem;
  margin-bottom: 0.4rem;
}
.productDescription {
  display: flex; 
  justify-content: center;
  align-items: center;
  width: 65%;
  margin: 0.4rem 0;
  font-size: 90%;
  font-weight: 600;
  text-align: center; 
  color: yellow;
}
.productPrice {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 120%;
  font-weight: 700;
  margin: 0.4rem 0;
}
.productBtn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  margin: 0.4rem 0;
}
.addToCart {
  height: 2rem;
  width: 50%;
  font-size: 100%;
  font-weight: 700;
  color: white;
  margin-top: 0.4rem;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid white;
}
.addToCart:hover {
  /* transform: translateY(-1px); */
  color: black;
  /* box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); */
  border: 2px solid white;
  background-color: white; 
  transition: ease-in-out .2s;
}
.addToCart:active {
  /* transform: translateY(2px); */
  background-color: white; 
}
.btnDisable {
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 2rem;
  width: 50%;
  font-size: 100%;
  color: white; 
  font-weight: 700;
  margin-top: 0.4rem;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid white;
}

@media (pointer:coarse) {
  .product {
    flex: 0 1 98%;
  }
}

@media screen and (max-width: 800px) {
  .productTitle {
    font-size: 90%;
  }
  .productDescription {
    font-size: 75%;
  }
  .productPrice {
    font-size: 100%;
  }
  .addToCart {
    font-size: 100%;
  }
  .btnDisable {
    font-size: 100%;
  }
}

@media screen and (max-width: 660px ) {
  .productTitle {
    font-size: 80%;
  }
  .productDescription {
    font-size: 70%;
  }
  .productPrice {
    font-size: 90%;
  }
  .addToCart {
    font-size: 90%;
  }
  .btnDisable {
    font-size: 90%;
  }
}

@media screen and (max-width: 425px) {
  .product img {
    width: 90%;
    height: auto;
  }
  .productTitle {
    font-size: 105%;
    width: 100vw;
  }
  .productDescription {
    text-align: center;
    font-size: 85%;
    width: 100%;
  }
  .productPrice {
    display: flex; 
    justify-content: center;
    font-size: 105%;
  }
  .productBtn {
    width: 100%;
  }
  .addToCart {
    background-color: none;
    width: 90%;
  }
  .addToCart:hover {
    transform: none;
    box-shadow: none;
    background-color: none;
  }
  .addToCart:active {
    transform: none;
    background-color: none;
  }
  .btnDisable {
    background-color: none;
    width: 90%;
  }
}