.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5% 1%;
}
.product img {
  width: 100%;
  height: 100%;
}
.productTitle {
  display: flex;
  justify-content: center;
  width: 101%;
  margin-top: 1rem;
  margin-bottom: 0.4rem;
}
.productPrice {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 120%;
  font-weight: 600;
  margin-bottom: 2%;
}
.addToCart {
  height: 2rem;
  width: 90%;
  font-size: 120%;
  font-weight: 600;
  color: white;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid white;
}
.addToCart:hover {
  /* transform: translateY(-1px); */
  color: black;
  /* box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); */
  border: 2px rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0.7);
}
.addToCart:active {
  /* transform: translateY(2px); */
  background-color: rgba(255, 255, 255, 0.7);
}
.btnDisable {
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 2rem;
  width: 100%;
  font-size: 100%;
  font-weight: 700;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid white;
}
.btnDisable:hover {
  color: white;
  /* box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); */
  border: 2px rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0.7);
}

@media (pointer:coarse) {
  .product {
    flex: 0 1 98%;
  }
}
@media screen and (max-width: 992px) {
  .product {
    display: flex;
    flex-direction: column;
    align-items: center; 
  }
}
@media screen and (max-width: 800px) {
  .product {
    display: flex; 
    flex-direction: column;
    align-items: center; 
  }
}
@media screen and (max-width: 660px) {
  .product {
    display: flex; 
    flex-direction: column; 
    align-items: center;
  }
}
@media screen and (max-width: 425px) {
  .product {
    display: flex; 
    flex-direction: column; 
    align-items: center;
  }
  .product img {
    width: 90%;
    height: auto;
  }
  .productTitle {
    display: flex; 
    justify-content: center;
    width: 100vw;
  }
  .productPrice {
    display: flex; 
    justify-content: center;
  }
  .addToCart {
    background-color: none;
  }
  .addToCart:hover {
    transform: none;
    box-shadow: none;
    background-color: none;
  }
  .addToCart:active {
    transform: none;
    background-color: none;
  }
  .btnDisable {
    background-color: none;
  }
}