.productWrapper {
  width: 75vw;
  margin: 0 1%;
  display: flex;
  align-items: center; 
  flex-direction: column;
  padding: 1% 0;
  /* outline: 1px solid red; */
}

.productLink {
  outline: 1px solid black;
  width: 40vw;
  margin: 3% 0;
}

a:link { 
  color: black;
}
a:visited {
  color: black;
}
a:hover {
  color: yellow;
}
a:active {
  color: black;
}


/* ===== Media Queries ===== */
@media screen and (max-width: 992px) {
  .productWrapper {
    width: 80vw;
  }
  .productLink {
    width: 45vw;
  }
}
@media screen and (max-width: 800px) {
  .productWrapper {
    width: 80vw;
  }
  .productLink {
    width: 55vw;
  }
}
@media screen and (max-width: 660px ) {
  .productWrapper {
    width: 80vw;
  }
}
@media screen and (max-width: 425px) {
  .productWrapper {
    width: 95vw;
    margin: 0;
    padding: 4px;
  }
  .productLink {
    width: 75vw;
  }
}