.modal {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  position: fixed;
  height: 100vh; 
  width: 100vw; 
  top: 0; 
  left: 0;
  background-image: url('../../asset/BackgroundIMG.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  visibility: visible;
  z-index: 1;
}
.modalClose {
  display: flex; 
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  font-size: 150%;
  font-weight: 700;
  width: 4%;
  padding: 3px 3px;
  margin-right: 20%;
  border: 3px solid white;
  border-radius: 5px;
}
.modalSlide {
  display:flex; 
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
}
.modal img {
  height: 80vh; 
  width: auto; 
}
.modalSlideBtns {
  display: flex; 
  justify-content: space-between;
  width: 20%;
}
.slideBtn {
  display: flex; 
  justify-content: center;
  align-items: center;
  font-size: 100%;
  font-weight: 900;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  border: none;
  height: 40px;
  width: 30%;
}

@media screen and (max-width: 800px) {
  .modalClose {
    width: 4%;
    font-size: 100%;
  }
}
@media screen and (max-width: 660px) {
  .modalClose {
    width: 5%;
  }
}
@media screen and (max-width: 425px) {
  .modalClose {
    display: flex; 
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    font-size: 110%;
    font-weight: 700;
    width: 10%;
    margin-right: 5%;
  }
  .modalSlide {
    display:flex; 
    flex-direction: column;
    align-items: center; 
    width: 95%;
  }
  .modalSlideBtns {
    width: 40%;
  }
  .modal img {
    height: 55vh; 
    width: auto;
  }
  .slideBtn {
    font-size: 100%;
    font-weight: 900;
    width: 25%;
  }
}

