.modal {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  position: fixed;
  height: 100%; 
  width: 100%; 
  top: 0; 
  left: 0;
  background-image: url('../../asset/BackgroundIMG.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  visibility: visible;
  z-index: 1;
}
.modal img {
  height: 100%; 
  width: auto; 
}
.modalClose {
  display: flex; 
  justify-content: center;
  align-items: center; 
  font-size: 100%;
  border: none; 
  background-color: transparent;
}

@media screen and (max-width: 425px) {
  .modal img {
    height: 550px; 
    width: auto;
  }
}