.header {  
  display: flex; 
  flex-direction: column;
  align-items: center;
}
.cartIcon {
  width: 100%; 
  display: flex; 
  justify-content: flex-end;
  padding: 3px 5px;
}
.cartButton {
  border-style: none;
  cursor: pointer;
  background-color: rgba(225, 225, 225, 0);
}
.logo {
  display: flex; 
  justify-content: center;
  height: auto; 
  width: 100%;
}
.logoImg {
  height: 8rem;
  width: auto;
}

/* ===== Media Queries ===== */
/* @media screen and (max-width: 992px) {
} */
@media screen and (max-width: 800px) {
  .logoImg {
    width: 60vw;
  }
}
@media screen and (max-width: 600px) {
  .logoImg {
    width: 60vw;
  }
}
@media screen and (max-width: 425px) {
  .logoImg {
    width: 85vw;
  }
}
