.header {  
  display: flex; 
  flex-direction: column;
  align-items: center;
  width: 100vw;
}
.iconBar {
  display: flex; 
  justify-content: space-between;
  align-items: center;
  width: 100%; 
  padding: 3px 0;
}
.igIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5%;
  height: 4%;
  font-size: 280%;
  margin-left: 1rem;
}
.fa-instagram {
  color: rgba(30, 30, 30);
  filter: drop-shadow(0 0 0.4px rgba(0, 0, 0));
  cursor: pointer;
}
a:link { 
  color: black;
}
a:visited {
  color: black;
}
a:hover {
  color: yellow;
}
a:active {
  color: black;
}
.cartIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  margin-right: .5rem;
  border-style: none;
  cursor: pointer;
  background-color: rgba(225, 225, 225, 0);
  /* outline: 1px solid red; */
}
.cartIcon img {
  width: 100%;
  /* outline: 1px solid red; */
}
.logo {
  display: flex; 
  justify-content: center;
  height: auto; 
  width: 100%;
}
.logoImg {
  height: 8rem;
  width: auto;
}

/* ===== Media Queries ===== */
@media screen and (max-width: 800px) {
  .cartIcon {
    width: 15%;
  }
  .logoImg {
    width: 60vw;
  }
}
@media screen and (max-width: 600px) {
  .cartIcon {
    width: 20%;
  }
  .igIcon {
    margin-left: 1.5rem;
  }
  .logoImg {
    width: 60vw;
  }
}
@media screen and (max-width: 425px) {
  .fa-instagram {
    color: rgb(33, 33, 33);
    filter: drop-shadow(0 0 0.9px rgba(0, 0, 0));
  }
  .cartIcon {
    justify-content: flex-end;
    width: 25%;
  }
  .cartIcon img {
    width: 100%;
  }
  a:link { 
    width: 15%;
    color: rgba(0, 0, 0, 0.8);
  }
  a:visited {
    color: yellow;
  }
  a:hover {
    color: yellow;
  }
  a:active {
    color: yellow;
  }
  .logoImg {
    width: 85vw;
  }
}
