.lineItem {
  display:flex;
  align-items: center;
  margin-bottom: 20px;
  overflow: hidden;
  backface-visibility: visible;
  min-height: 15%;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}
.itemImg {
  display: flex;
  justify-content: center;
  width: 35%;
  height: 10%;
  border-radius: 3px;
}
.itemImg img {
  height: 55px;
}
.itemContent {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  padding-left: 2%;
}
.itemContent-upper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  height: 35%;
  width: 100%;
  padding: 0 1%;
}
.itemTitle {
  color: #4E5665;
  font-size: 15px;
  font-weight: 400;
}
.itemVariantTitle {
  display: flex; 
  justify-content: flex-end;
  width: 40%;
  font-weight: 600;
  font-size: 70%;
  line-height: 17px;
  color: #767676;
}
.itemContent-lower {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 35%;
  width: 100%;
  padding: 0 1%;
}
.itemQuantityContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 35%;
  border-radius: 3px;

}
.itemQuantityUpdate { 
  color: #767676;
  font-family: monospace;
  cursor: pointer;
  background: transparent;
  box-shadow: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  border: 1px outset #767676;
  border-radius: 5px;
  width: 30%;
  height: 100%;
}
.itemQuantity {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 80%;
  width: 25%;
}
.itemPrice {
  display: flex;
  align-items: center;
  font-size: 80%;
  font-weight: bold;
}
.itemRemove {
  display: flex;
  justify-items: center;
  align-items: center;
  font-size: 80%;
  font-weight: bold;
  border: none;
  background-color: transparent;
}
.itemRemove:hover {
  /* opacity: 1; */
  cursor: pointer;
}

@media screen and (max-width: 425px) {
  .itemTitle {
    color: white;
    font-size: 90%;
    font-weight: 600;
  }
  .itemVariantTitle {
    width: 35%;
    color: white;
  }
  .itemContent-lower {
    height: 40%;
  }
  .itemQuantityUpdate {
    color: white;
    font-size: 70%;
    border: 1px solid white;
  }
  .itemQuantity {
    color: white;
    font-size: 80%
  }
  .itemRemove {
    color: white;
    font-size: 100%;
    margin-bottom: 6px;
  }
}