.app {
  height: 100%;
  width: 100%;
  background-image: url('./asset/BackgroundIMG.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}




