.app {
  height: 100%;
  width: 100%;
  background-image: url('./asset/BackgroundIMG.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
.appHeader {  
  display: flex; 
  flex-direction: column;
  align-items: center;
}
.appHeader h1 {
  display: flex; 
  justify-content: center;
  /* width: 30%; */
  margin: 0;
}





