.productWrapper {
  width: 25vw;
  /* margin: 40px auto 0; */
  margin: 5% 3%;
  display: flex;
  flex-direction: column;

}


/* ===== Media Queries ===== */
@media screen and (max-width: 992px) {
  .productWrapper {
    width: 40vw;
  }
}
@media screen and (max-width: 800px) {
  .productWrapper {
    width: 45vw;
  }
}

@media screen and (max-width: 660px ) {
  .productWrapper {
    width: 50vw;
  }
}

@media screen and (max-width: 425px) {
  .productWrapper {
    width: 80vw;
  }
};